body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: rgb(0, 0, 0);
}

.container {
    margin: auto;
}

.header {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

.header .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.header .container img {
    height: 90px;
}
.header a {
    text-decoration: none;
    color: #ffffff;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

/* BANNER */

.banner {
    height: 500px;
    color: white;
    background-image: url("../assets/imgs/irene.png");
    background-size: cover;

}

.banner .container {
    /* border: 3px solid green; */
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner p {
    /* border: 3px solid cyan; */
    margin: 0;
    padding: 0;
    width: 300px;
    font-size: 36px;
    margin-left: 750px;
}

.banner span {
    font-weight: 800;
}

/* Group*/

.group {
    color: white;
    padding: 0px;

}
.group .container {
    /* border: 3px solid #ffffff; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.group .container .proposito {
    background-color: rgb(1 61 220);
    display: flex;
}
.group .container .proposito div{
    background-color: rgb(2 61 217);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    font-size: 20px;
}

.group .container .proposito img {
    background-color:rgba(3, 3, 3, 0.822);
    height: 100%;
    width: 45%;  
}
/* missao visao valores */

.social {
    /* border: 3px solid yellowgreen; */
    padding: 50px 0;
    background-color: #000000;

}

.social .container {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    /* border: 3px solid blue; */
}

/* usar este bloco para explicar margin e padding*/
.social .titulo {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.social h2 {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    align-self: center; 
    justify-self: center;
    text-align: center;
    color: black;
    margin: 0;
    /* border: 3px solid orange; */
}

.social p {
    display: flex;
    padding: 20px;
    align-self: center; 
    justify-self: center;
    text-align: center;
    color: black;
    margin: 0;
    /* border: 3px solid orange; */
}
.social .container .proposito {
    background-color:rgba(255, 255, 255, 0.822);
    border-radius: 50px;
}
.social .boxes {
    display: flex;
    /* border: 3px solid blue; */
}

.social .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 33%;
    /* border: 3px solid yellow; */
}

.social .box img {
    width: 150px;
    align-self: center;
}

.social .box h4 {
    font-size: 22px;
    color: black;
    margin-top: 30px;
}



/* FOOTER */

.footer {
    background-color: black;
    height: 70px;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer .container {
    display: flex;
    justify-content: center;
}

h4 {
    margin: 0;
    padding: 0;
}

/* LOGIN */

.banner-login {
    color: white;
    height: 550px;
    /* border: 3px solid yellow; */
    background-image: url("../assets/imgs/irene.png");
    background-size: cover;
}

.banner-login .container {
    height: 550px;
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-login {
    color: #ffffff;
}

.banner-login .card {
    background-color: #000000df;
    height: 450px;
    width: 400px;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.banner-login a {
    color: white;
    text-decoration: none;
}

.banner-login #div_erros_login {
    margin-top: 15px;
}

button {
    cursor: pointer;
}

/* FORMULARIO */

input {
    height: 30px;
    width: 175px;
    border: 2px solid #000000;
    border-radius: 10px;
    padding-left: 10px;
    margin: 3px 0px 20px 0px;
}

.btn {
    font-family: 'Exo 2', sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    background-color: red;;
    width: 120px;
    align-self: center;
}



form {
    display: flex;
    flex-direction: column;
}

.loading-div {
    width: 50px;
    /* border: 3px solid pink; */
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
    display: flex;
    width: 100vw;
    /* height: 100vh; */
}

.header-left a {
    text-decoration: none;
    color: white;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #32B9CD;
    background-color: #212124;
    /* border: 3px solid pink; */
}

.dash-right {
    display: flex;
    width: 75%;
    height: fit-content;
    background-color: #161618;
    position: relative;
    top: 0;
    left: 25%;
}

.header-left h1 {
    color: #32B9;
}

.hello {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hello h3 {
    color:white;
    font-weight: 300;
    font-size: 1.2rem;
}

.hello h3 span {
    font-weight: 800;
}

.btn-nav {
    color: black;
    background-color: #d0e2ec;;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
    margin: 5px 0px;
    width: 80%;
    justify-content: center;
    display: flex;

}

.btn-nav:hover {
    background-color: #000000;
    color: #d0e2ec;
}
.btn-nav h3 {
    margin: 5px 0px;
}

.btn-nav h3:hover {
    color: #d0e2ec;
}

.btn-nav a {
    text-decoration: none;
    color:black;
}
.btn-nav a:hover {
    text-decoration: none;
    color: #d0e2ec;
    background-color: black;
}



/* pagina extra - Idols */


.Idols a {
    text-decoration: none;
}
.Idols ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.Idols .container  {
    width: 80%;
    display: flex;
    flex-direction: column;
    color: white;
}
.Idols .container .click {
    display: flex;
    flex-wrap: wrap;
}
.Idols .container .profile {
    background-color: black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    filter: grayscale(8);
}
.Idols .container .profile:hover {
    filter: grayscale(0);
    }
.Idols .container .profile img {
    background-color: black;
    height: 175px;
    width: 175px;
    margin: 0px;
}
.Idols .container .profile p {
    margin: 0px;
    display: flex;
    height: 22px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(255, 255, 255);
    width: 175;
}

/* Profile */
.artists {
    color: white;
    padding: 0px;

}
.artists .container {
    /* border: 3px solid #ffffff; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.artists .container .proposito {
    background-color: black;
    display: flex;
    width: 80%;
    border: solid 10px white;
}
.artists .container .proposito div{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    font-size: 20px;
}

.artists .container .proposito img {
    background-color:rgba(3, 3, 3, 0.822);
    width: 50%;  
}