/* pagina mural */

*, body {
    font-family: 'Exo 2', sans-serif;
}

.janela .container img {
    height: 80px;
};
.janela  {
    height: 100vh;
    padding: 30px;
    margin: 0px;
}
.janela .header-left_dash-header {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.janela .header-left_dash-header .elements{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.janela .header-left_dash-header .elements img{
    width: 80%;
}

.dash-right .avisos {
    /* border: 3px solid pink; */
    color: rgb(216, 216, 216);
    font-family: 'Exo 2', sans-serif;
}

.dash-right .avisos .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-right .avisos .div-form textarea {
    /* color: #E6005A; */
    border: 3px solid #E6005A;
    background-color: white;
    border-radius: 5px;
}

.dash-right .avisos .div-form button {
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #E6005A;
}

.publicacao-btn-editar {
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    background-color: #E6005A;
}

.publicacao {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: 3px solid #E6005A;
    padding: 20px;
}

.publicacao>*:not(:last-child) {
    padding: 0 0 10px 0;
}

.div-results {
    width: 100%;
}

.div-results .feed-container {
    background-color: #212124;
    border-radius: 5px;
    margin-bottom: 80px;
}

.div-buttons {
    display: flex;
    justify-content: flex-end;
}

.div-buttons>* {
    margin-left: 30px
}

/* pagina graficos */

.dash-header {
    background-color: #000000;
}

.dash {
    width: 100%;
    display: flex;
    background-image: url("../assets/imgs/selection.png");
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.regua {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.perigo-quente {
    background-color: red;
}

.alerta-frio {
    background-color: #1b19ac;
}

.ideal {
    background-color: #9e4dd4;
}

.item-regua {
    padding: 5px;
    width: 16%;
    margin: 5px;
    text-align: center;
    padding-top: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: white;
}

.card {
    margin: 2%;
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    height: 180px;
    justify-content: right;
    background-color: #000000;
    font-size: 20px;
}

.card p {
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
    text-align: left;
}

.cards h1 {
    font-size: 22px;
    width: 100%;
    border-bottom: solid white 1px;
    text-align: left;
    font-weight: lighter;
    margin: 20px;
}

.temperatura, .umidade {
    margin: 5px;
    margin-left: 20px;
    width: 75%;
}

.cor-alerta {
    width: 13%;
    height: 30%;
    border-radius: 50px;
    margin-top: 6%;
    /* background-color: #c7c7c7; */
}

.btns-dash{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.graph{
    width: 80%;
    margin: auto;
    padding: 40px;
}

.btn-chart{
    font-family: 'Exo 2', sans-serif;
    border: 0;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #E6005A;
    margin: 5px;
}
